body{
    background-size :   cover;
}


.Google
{
    color: blueviolet;
}


.Mobile_net
{
    color: magenta;
}


.result
{    height: fit-content;
    width: fit-content;
    text-align: center;
    color: blue;
 



}